---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/ursa-minus/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54c9cde8bbc772cf90f90bde8ffc71de6fb07a5bd9d5962412ad37249f699446"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/organizations/91486867/repos?page=2>; rel="next",
        <https://api.github.com/organizations/91486867/repos?page=3>; rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":463559159,"node_id":"R_kgDOG6FZ9w","name":"httparty","full_name":"ursa-minus/httparty","private":true,"owner":{"login":"ursa-minus","id":91486867,"node_id":"MDEyOk9yZ2FuaXphdGlvbjkxNDg2ODY3","avatar_url":"https://avatars.githubusercontent.com/u/91486867?v=4","gravatar_id":"","url":"https://api.github.com/users/ursa-minus","html_url":"https://github.com/ursa-minus","followers_url":"https://api.github.com/users/ursa-minus/followers","following_url":"https://api.github.com/users/ursa-minus/following{/other_user}","gists_url":"https://api.github.com/users/ursa-minus/gists{/gist_id}","starred_url":"https://api.github.com/users/ursa-minus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ursa-minus/subscriptions","organizations_url":"https://api.github.com/users/ursa-minus/orgs","repos_url":"https://api.github.com/users/ursa-minus/repos","events_url":"https://api.github.com/users/ursa-minus/events{/privacy}","received_events_url":"https://api.github.com/users/ursa-minus/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/ursa-minus/httparty","description":":tada:
        Makes http fun again!","fork":false,"url":"https://api.github.com/repos/ursa-minus/httparty","forks_url":"https://api.github.com/repos/ursa-minus/httparty/forks","keys_url":"https://api.github.com/repos/ursa-minus/httparty/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ursa-minus/httparty/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ursa-minus/httparty/teams","hooks_url":"https://api.github.com/repos/ursa-minus/httparty/hooks","issue_events_url":"https://api.github.com/repos/ursa-minus/httparty/issues/events{/number}","events_url":"https://api.github.com/repos/ursa-minus/httparty/events","assignees_url":"https://api.github.com/repos/ursa-minus/httparty/assignees{/user}","branches_url":"https://api.github.com/repos/ursa-minus/httparty/branches{/branch}","tags_url":"https://api.github.com/repos/ursa-minus/httparty/tags","blobs_url":"https://api.github.com/repos/ursa-minus/httparty/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ursa-minus/httparty/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ursa-minus/httparty/git/refs{/sha}","trees_url":"https://api.github.com/repos/ursa-minus/httparty/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ursa-minus/httparty/statuses/{sha}","languages_url":"https://api.github.com/repos/ursa-minus/httparty/languages","stargazers_url":"https://api.github.com/repos/ursa-minus/httparty/stargazers","contributors_url":"https://api.github.com/repos/ursa-minus/httparty/contributors","subscribers_url":"https://api.github.com/repos/ursa-minus/httparty/subscribers","subscription_url":"https://api.github.com/repos/ursa-minus/httparty/subscription","commits_url":"https://api.github.com/repos/ursa-minus/httparty/commits{/sha}","git_commits_url":"https://api.github.com/repos/ursa-minus/httparty/git/commits{/sha}","comments_url":"https://api.github.com/repos/ursa-minus/httparty/comments{/number}","issue_comment_url":"https://api.github.com/repos/ursa-minus/httparty/issues/comments{/number}","contents_url":"https://api.github.com/repos/ursa-minus/httparty/contents/{+path}","compare_url":"https://api.github.com/repos/ursa-minus/httparty/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ursa-minus/httparty/merges","archive_url":"https://api.github.com/repos/ursa-minus/httparty/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ursa-minus/httparty/downloads","issues_url":"https://api.github.com/repos/ursa-minus/httparty/issues{/number}","pulls_url":"https://api.github.com/repos/ursa-minus/httparty/pulls{/number}","milestones_url":"https://api.github.com/repos/ursa-minus/httparty/milestones{/number}","notifications_url":"https://api.github.com/repos/ursa-minus/httparty/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ursa-minus/httparty/labels{/name}","releases_url":"https://api.github.com/repos/ursa-minus/httparty/releases{/id}","deployments_url":"https://api.github.com/repos/ursa-minus/httparty/deployments","created_at":"2022-02-25T14:18:06Z","updated_at":"2022-06-13T19:27:10Z","pushed_at":"2022-03-03T17:50:11Z","git_url":"git://github.com/ursa-minus/httparty.git","ssh_url":"git@github.com:ursa-minus/httparty.git","clone_url":"https://github.com/ursa-minus/httparty.git","svn_url":"https://github.com/ursa-minus/httparty","homepage":"https://internal-wiki.io/","size":1424,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"security_and_analysis":{"advanced_security":{"status":"enabled"},"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_ai_detection":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}}},{"id":486687834,"node_id":"R_kgDOHQJEWg","name":"issue-driven-github-admin","full_name":"ursa-minus/issue-driven-github-admin","private":true,"owner":{"login":"ursa-minus","id":91486867,"node_id":"MDEyOk9yZ2FuaXphdGlvbjkxNDg2ODY3","avatar_url":"https://avatars.githubusercontent.com/u/91486867?v=4","gravatar_id":"","url":"https://api.github.com/users/ursa-minus","html_url":"https://github.com/ursa-minus","followers_url":"https://api.github.com/users/ursa-minus/followers","[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/actions-ci-cd/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd9a546ec2c2528d2baf911d68e1a6d3e94c9c00abcbb69337ad7287458f66dd"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"names":["ci-cd","sample","test-automation","bu-ops"]}'
  recorded_at: Tue, 10 Dec 2024 14:51:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/httparty/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:26 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/issue-driven-github-admin/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '25'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:26 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/pmt/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '27'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:27 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/p-t/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '29'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:28 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/deploy-t/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '31'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:29 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/test-m/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '35'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:31 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/deploy-t-empty/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '37'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:32 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/pull-test/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '39'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:33 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/ghas-bootcamp/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '41'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:34 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/ado-api/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '43'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:35 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/foo-bar-test/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:36 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/us-foobar/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '47'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:37 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/repo3/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '49'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:38 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/test/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '51'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/try-pr/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '53'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:40 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/try-pr2/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '55'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:41 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/try-ab/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '57'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:42 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/try-this-ab/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '59'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:43 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/try-ab2/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4dbb3eb7515b9206be8260d022b776f75fb76dad27e90af7f6500443230cae3e"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '61'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Tue, 10 Dec 2024 14:51:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ursa-minus/ab-blk1/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"118d4d9e55460c1d59f0e166f0c904d51745e00e33ee90247c1cc6afc97e0d76"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-01-05 11:10:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1733844006'
      X-Ratelimit-Used:
      - '65'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"names":["test","asdf","flutter","firebase-auth"]}'
  recorded_at: Tue, 10 Dec 2024 14:51:46 GMT
[...]
